<!-- client-list.component.html -->
<div class="container">
    <h2>Lista de Clientes</h2>
  
    <div class="search-container">
      <input
        type="text"
        placeholder="Buscar por clave compartida"
        [(ngModel)]="searchKey"
        (keyup)="search()"
        class="form-control"
      />
    </div>
  
    <div *ngIf="clients.length === 0" class="alert alert-warning mt-3">
      No se encontraron clientes.
    </div>
  
    <table class="table table-striped mt-3" *ngIf="clients.length > 0">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Clave Compartida</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clients">
          <td>{{ client.name }}</td>
          <td>{{ client.sharedKey }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  